@media only screen and (min-width: 32.5em){
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    img {
        float: right;
    }
    ul {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.1rem;
    }
}