header {
    background-color: #00bfff;
    box-shadow: inset 0 0 15px;
    border-radius: 15px;
    height: 120px;
    width: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

main, hr {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: none;
    color: #ff0f0f;
}

a:visited {
    color: #00ff88;
    text-shadow: 2px 2px black
}

a:hover {
    color: #00bfff;
}

a:active {
    color: black;
}

footer {
    background-color: #00bfff;
    box-shadow: inset 0 0 15px;
    border-radius: 15px;
    height: 75px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

img {
    float: right;
    box-shadow: 0px 0px 50px #0f1113;
    max-width: 25%;
    min-width: 125px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 2px 2px black;
    font-size: 50px;
    padding: auto;
    
}

h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
}

ul {
    font-family: courier new;
    font-size: 19px;
}

h4 {
    color: white;
    text-align: center;
    font-family: Verdana;
    text-shadow: 2px 2px black;
    padding: 20px;
}

