/* Phone View */
body {
    padding: 0;
    margin: 0;
}

.logo {
    display: flow-root;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 1rem;
}

.hiddenmessage {
    display: none;
}

.message{
    display: block;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

header {
    background-color: #4995b0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
}

main {
    margin: 0 auto;
    min-width: 320px;
}

.hero {
    position: relative;
    margin: 10px auto;
    text-align: center;
}

#farm {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

.stats {
    position: absolute;
    top: .4rem;
    left: 1rem;
    background: radial-gradient(#41535f, #4995b0);
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 30px #111;
    opacity: 1;
    font-size: 11px;
    margin: 1rem .9rem;
}

.stats p {
    color: white;
}

#currently, #high, #windchill, #humidity, #windspeed {
    color: #40c9a2;
}

.forcast {
    display: none;
    margin: 25px auto;
    border-radius: 15px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px black;
}

table {
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    ;
}

th {
    background-color: #4995b0;
    color: white;
    text-shadow: 2px 2px black;
    padding: 10px;
    border: solid black;
    font-weight: bolder;
    font-size: .9rem;
}

td {
    background-color: white;
    font-weight: bolder;
    border: solid black;
}

.article {
    display: block;
    margin: 25px auto;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    text-align: center;
}

.author {
    font-style: italic;
    font-size: 1rem;
}

#articlepic {
    padding: 25px;
    max-width: 340px;
    max-height: 340px;
}

#articlep {
    padding: 20px;
    color: black;
   
}

.contact {
    display: flex;
    margin: 0 auto;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px black;
    border-radius: 15px 15px 0 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.4rem;
}

#contactinfo {
    display: block;
    margin: 0 auto;
    padding: 25px;
    font-size: 1.2rem;
    align-content: center;
    align-items: center;
}

#email {
    color: white;
    text-shadow: 2px 2px black;
}

#prestonmap {
    display: none;
    max-width: 100%;
    min-width: 0;
}

footer {
    background-color: #4995b0;
    box-shadow: inset 0 0 6px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    text-align: center;
}

.headings {
    margin: 0 0 0 17px;
}

.moto {
    margin-left: 20px;
    color: #ffffff;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 2px 2px black;
    font-size: 1rem;
}

ul {
    margin: 0;
}

nav {
    font-family: 'Cabin', sans-serif;
    background-color: #36454f;
}

/*nav ul li a {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}*/

.navigation {
    padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #41535f;
    font-weight: 700;
}

.responsive li {
	display: block;
}

a {
    color: #40c9a2;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    margin: 0 auto;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #4995b0;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 20px;
    color: #ffffff;
    text-shadow: 2px 2px black;
    margin: 0;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    text-shadow: 2px 2px black;
    font-size: .9rem;
    font-weight: bold;
}

h4 {
    color: #ffffff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    text-shadow: 2px 2px black;
    padding: 20px;
    font-size: .9rem;
    font-weight: bold;
    margin: 0;
}

p {
    color: white;
    margin: 5px;
}


.active {
    color: white;
    background-color: #41535f;
}